{% extends "bibliographical_production/list.html" %}

{% block chart %}
    {% if chart %}
        {% include "highchart_year_frequency.html" with context %}
    {% endif %}
{% endblock chart %}

{% block list_item %}

    {{production.autores}}.
    <b>{{production.titulo}}</b>.
    {{production.ano|int}}.
    {% if production.natureza %}
        <em>{{production.natureza|default('', true)}}</em>.
    {% elif production.evento %}
        <em>{{production.evento}}</em>.
    {% elif production.revista %}
        <em>{{production.revista}}</em>.
    {% endif %}

{% endblock %}
