
{{production.autores}}. <b>{{production.titulo}}</b>. Em: <font color=#330066>{{production.evento}}</font>.
{{ 'v. {},'.format(production.volume) if production.volume else '' }}
{{ 'n. {},'.format(production.numero) if production.numero else '' }}
{{ 'p. {},'.format(production.paginas) if production.paginas else '' }}
<!--{{ 'issn: {},'.format(production.issn) if production.issn else '' }}-->
{{production.ano}}.
{% if production.doi %}
<a href="{{production.doi}}" target="_blank" style="PADDING-RIGHT:4px;"><img border=0 src="images/doi.png"></a>
{% endif %}

<br>

{% if production.qualis %}
    <font color="#336600"><b>Qualis: </b></font>
    {% for area, estrato in production.qualis.items()|sort %}
        <font class="area"><b>{{area if area else "Área não especificada"}}</b></font> - <b>{{estrato}}</b>
    {% endfor %}
{% else %}
    <!--<font color="#8B0000"><b>Qualis: N&atilde;o identificado</b></font>-->
{% endif %}
