{% extends "bibliographical_production/list.html" %}

{% block chart %}
    {% if chart %}
        {% if False and 'qualis_data' in chart.keys() %}
        <!--Ignorando Qualis por enquanto (gráfico não funciona) -->
            {% include "highchart_frequency_qualis.html" with context %}
        {% else %}
            {% include "highchart_year_frequency.html" with context %}
        {% endif %}
    {% endif %}
{% endblock chart %}

{% block list_item %}
    {% include "bibliographical_production/journal_paper.html" with context %}
{% endblock %}
