{% extends "layout.html" %}
{% set active_page = "producao_bibliografica" %}

{% block title %}{{group_name}}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="css/dataTables.colVis.min.css">
    <script type="text/javascript" charset="utf8" src="js/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="js/dataTables.colVis.min.js"></script>
    <!--<script type="text/javascript" charset="utf8" src="js/jexpand/jExpand.js"></script>-->
    <!--<script>-->
        <!--$(document).ready(function () {-->
            <!--$(".collapse-box").jExpand();-->
        <!--});-->
    <!--</script>-->
{% endblock %}

{% block sidemenu %}
<h5 id="producao_bibliografica">Produção bibliográfica</h5>
<ul class="sidenav">
    {% if bibliographical_productions_index %}
        {% for page, title, count in bibliographical_productions_index %}
            <li>
                <a href="{{page}}">{{title}} <strong>({{count}})</strong></a>
            </li>
        {% endfor %}
    {% else %}
        <i>Nenhum item achado nos currículos Lattes</i>
    {% endif %}
</ul>

{% endblock %}


{% block content %}
    <h4>{{subtitle}}</h4>

    {% block chart %}
        {% if chart %}
            {% include "highchart_year_frequency.html" with context %}
        {% endif %}
    {% endblock chart %}

    Número total de itens: {{numero_itens}}
    <br>
    <!--{{totais_qualis}}-->
    <!--{{indice_paginas}}-->

    <!--{producoes}-->
    {% block list %}
        {% for pivot, productions in grouped_productions.items() %}
            <div id="dv-year-{{pivot}}"><h3 class="year">{{pivot}}</h3>
                <table>
                    {% for i, production in productions.sort_values(['autores', 'titulo']).iterrows() %}
                        <tr valign="top">
                            <td>{{loop.index}}. </td>
                            <td>
                                {% block list_item scoped %}
                                {% endblock %}
                            </td>
                            <td>
                                {% block list_item_actions scoped %}
                                    <a class="small" href="http://scholar.google.com/scholar?hl=en&lr=&q={{production.titulo|e}}&btnG=Search"
                                       alt="cita&ccedil;&otilde;es no Google Scholar" title="cita&ccedil;&otilde;es no Google Scholar">
                                        <img class="logo" src="https://www.google.com/images/icons/product/scholar-32.png"/>
                                    </a>
                                    <a class="small" href="http://academic.research.microsoft.com/Search?query={{production.titulo|e}}"
                                       alt="cita&ccedil;&otilde;es no Microsoft Acad&ecirc;mico" title="cita&ccedil;&otilde;es no Microsoft Acad&ecirc;mico">
                                        <img class="logo" src="https://pbs.twimg.com/profile_images/558060418/academic_logo_400x400.png"/>
                                    </a>
                                    <a class="small" href="http://www.google.com/search?btnG=Google+Search&q={{production.titulo|e}}"
                                       alt="busca no Google" title="busca no Google">
                                        <img class="logo" src="https://www.google.com/images/branding/product/1x/gsa_32dp.png"/>
                                    </a>
                                {% endblock %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    {% endblock %}

{% endblock content %}
