# -*- coding: utf-8 -*-

{% extends "bibliographical_production/list.html" %}

{% block list_item %}

    {{production.autores}}.
    <b>{{production.titulo}}</b>.
    {% if production.jornal %}
        <i>{{production.jornal}}</i>,
    {% endif %}
    {{production.ano}}.
    {{ 'v. {},'.format(production.volume) if production.volume else '' }}
    {{ 'p. {},'.format(production.paginas) if production.paginas else '' }}
    {{ '{}.'.format(production.data) if production.data else '' }}

    <br>
    <font size=-1>
    [ <a href="http://scholar.google.com/scholar?hl=en&lr=&q={{production.titulo|e}}&btnG=Search">cita&ccedil;&otilde;es Google Scholar</a> |
      <a href="http://academic.research.microsoft.com/Search?query={{production.titulo|e}}">cita&ccedil;&otilde;es Microsoft Acad&ecirc;mico</a> |
      <a href="http://www.google.com/search?btnG=Google+Search&q={{production.titulo|e}}">busca Google</a> ]
    </font><br>

{% endblock %}
