{{production.autores}}. <b>{{production.titulo}}</b>. <font color=#330066>{{production.revista}}</font>.
{{ 'v. {},'.format(production.volume) if production.volume else '' }}
{{ 'n. {},'.format(production.numero) if production.numero else '' }}
{{ 'p. {},'.format(production.paginas) if production.paginas else '' }}
{{ 'v. {},'.format(production.issn) if production.issn else '' }}
{{production.ano}}.
{% if production.doi %}
<a href="{{production.doi}}" target="_blank" style="PADDING-RIGHT:4px;"><img border=0 src="images/doi.png"></a>
{% endif %}

{% include '_journal_paper_search_menu.html' %}

<!--s += formata_qualis(self.qualis, self.qualissimilar)-->
