{% extends "highchart.html" %}

{% block highchart_data %}
<script type="text/javascript">
    //        $(function () {
    //            $('#highchart').highcharts({ chart.jsondata });
    //        });

    $(function () {
        $('#highchart').highcharts({
            legend: {
                enabled: 'true',
                title: {text: 'Estrato Qualis'},
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor || '#FFFFFF'),
                align: 'right',
                shadow: true,
                verticalAlign: 'middle',
                borderWidth: 1,
                layout: 'vertical'
            },
            credits: {enabled: false},
            tooltip: {
                enabled: true,
                valueSuffix: '',
                headerFormat: '<span style="font-size: 10px">{point.key}{point.stack}{series.stack}</span><br/>',
                pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: <b>{point.y}</b><br/>',
                shared: false
            },
            chart: {
                height: 1080,
                type: 'bar'
            },
            subtitle: {text: ''},
            yAxis: {
                title: {
                    align: 'middle',
                    text: 'Frequência'
                },
                min: 0,
                labels: {overflow: 'justify'},
                stackLabels: {
                    enabled: true,
                    format: '{stack}'
                }
            },
            xAxis: {
                title: {text: ''},
                type: 'category'
            },
            title: {text: 'Publicações por ano agrupadas por área e estrato Qualis'},
            plotOptions: {
                series: {shadow: 'true'},
                bar: {
                    dataLabels: {enabled: false},
                    stacking: 'normal'
                },
                column: {stacking: null}
            },
            series: {{series(chart.qualis_data, chart.categories)}},
            drilldown: {{drilldown(chart.qualis_data, chart.categories)}}
        });
    });
</script>

<div id="highchart" style="min-width: 310px; max-width: 1920px; height: 1080px; margin: 0"></div>
{% endblock %}

{% macro series(estrato_area_ano_freq, categories) -%}
    [
        {% for estrato in estrato_area_ano_freq.index.get_level_values(0) %}
            {
                name: "{{estrato|default('Sem Qualis', true)}}",
                data: [
                    {% for area in estrato_area_ano_freq.ix[estrato].index %}
                        {
                            name: "{{area|default('Sem área', true)}}",
                            y: {{ estrato_area_ano_freq.ix[estrato, area]|sum() }},
                            drilldown: "{{area|default('Sem área', true)}}{{estrato|default('Sem Qualis', true)}}",
                        },
                        // data.append({'name': area, 'y': sum([ano_freq[ano] for ano in categories]), 'drilldown': area + estrato})
                        // series = [{'name': estrato, 'data': {'name': area, 'y': sum(freq), 'drilldown': area + estrato}}]
                    {% endfor %}
                ],
            },
        {% endfor %}
    ]
{%- endmacro %}

{% macro drilldown(estrato_area_ano_freq, categories) -%}
    {
        series: [
            {% for estrato, area in estrato_area_ano_freq.index.get_values() %}
                {
                    id: "{{area|default('Sem área', true)}}{{estrato|default('Sem Qualis', true)}}",
                    name: "{{estrato|default('Sem Qualis', true)}}",
                    data: [
                        {% for ano in categories %}
                            [
                                {{ano}}, {{estrato_area_ano_freq.ix[estrato, area][ano]|default(-1, true)}}
                            ],
                        {% endfor %}
                        // drilldown_series.append({'id': area + estrato, 'name': estrato, 'data': [[ano, ano_freq[ano]] for ano in categories]})
                    ],
                },
            {% endfor %}
        ]
    }
{%- endmacro %}
