{% extends "layout.html" %}
{% set active_page = "index" %}

{% block title %}{{group_name}}{% endblock %}

{% block content %}

<h3 id="producao_bibliografica">Produção bibliográfica</h3>
<ul>
    {% if bibliographical_productions_index %}
        {% for page, title, count in bibliographical_productions_index %}
            <li>
                <a href="{{page}}">{{title}}</a> ({{count}})
            </li>
        {% endfor %}
    {% else %}
        <i>Nenhum item achado nos currículos Lattes</i>
    {% endif %}
</ul>

{% endblock %}
