{% extends "layout.html" %}
{% set active_page = "membros" %}

{% block title %}{{group_name}}{% endblock %}

{% block head %}
    {{ super() }}
    <!--<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css">-->
    <!--<link rel="stylesheet" type="text/css" href="css/dataTables.colVis.min.css">-->
    <!--<script type="text/javascript" charset="utf8" src="js/jquery.min.js"></script>-->
    <!--<script type="text/javascript" charset="utf8" src="js/jquery.dataTables.min.js"></script>-->
    <!--<script type="text/javascript" charset="utf8" src="js/dataTables.colVis.min.js"></script>-->
    <!--<script type="text/javascript" charset="utf8" src="js/jexpand/jExpand.js"></script>-->
    <!--<script>-->
        <!--$(document).ready(function () {-->
            <!--$(".collapse-box").jExpand();-->
        <!--});-->
    <!--</script>-->

{% endblock %}

{% block container %}
<div class="row">
    <div class="twelve columns">
        <h2>{{group_name}}</h2>

<h3>Lista de membros</h3>

<table id="membros" class="collapse-box">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Bolsa de produtividade em pesquisa</th>
            <th>Período de análise individual</th>
            <th>Data de atualização do CV</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for membro in members_list|sort %}
        <tr>
            <td valign="center" height="40px">{{loop.index}}.</td>
            <td valign="top" height="40px"><img src="{{membro.foto}}" width="40px"></td>
            <td><a href="{{membro.url}}">{{membro.nome_completo}}</a></td>
            <td class="centered"><font size=-1>{{membro.rotulo if membro.rotulo else '[sem rótulo]'}}</font></td>
            <td class="centered"><font size=-1>{{'({})'.format(membro.bolsa) if membro.bolsa}}</font></td>
            <td class="centered"><font size=-1>{{membro.periodo}}</font></td>
            <td class="centered"><font size=-1>{{membro.atualizacaoCV}}</font></td>
            <td class="centered">
                <a href="http://scholar.google.com.br/citations?view_op=search_authors&mauthors={{membro.nome_completo}}">
                    <font size=-1>[ Cita&ccedil;&otilde;es no Google Acad&ecirc;mico | </font>
                </a>
            </td>
            <td class="centered">
                <a href="http://academic.research.microsoft.com/Search?query=author:({{membro.nome_completo}})">
                    <font size=-1>Cita&ccedil;&otilde;es no Microsoft Acad&ecirc;mico ]</font>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    </div>
</div>


<!--<script>-->
    <!--$(document).ready(function () {-->
        <!--$('#membros').DataTable();-->
    <!--});-->
<!--</script>-->

{% endblock %}
