jinja2
#PIL
docopt
configobj == 5.0.6
setuptools
matplotlib
robobrowser
numpy >= 1.10.0
pygraphviz
scipy
#BeautifulSoup
beautifulsoup4
python_Levenshtein
Pillow
# PySide
Requests >= 2.8.1
pytidylib
six
# utidylib
pathlib
pandas >= 0.17.0
tables
HTMLParser
lxml
