[artigos em periódicos]
# 1. ARTIGOS PUBLICADOS EM PERIÓDICOS CIENTÍFICOS com  ISSN.
# Cada artigo será pontuado pelo Qualis OU pelo Fator de Impacto, o que for maior.
    [[qualis]]
        A1 = 20
        A2 = 16
        B1 = 14
        B2 = 10
        B3 = 6
        B4 = 4
        B5 = 2
        C  = 1
        sem qualis = 1

    [[fator de impacto]]
        # Especifique intervalos "x < F.I. <= y" no formato "x < y" (use '_' para -infinito e + infinito)
        3,0 <  _  = 20
        2,5 < 3,0 = 16
        2,0 < 2,5 = 14
        1,6 < 2,0 = 10
        1,2 < 1,6 = 6
        0,8 < 1,2 = 4
        0,5 < 0,8 = 2
         _  < 0,5 = 1

[artigos em eventos]
    A1 = 20
    A2 = 16
    B1 = 14
    B2 = 10
    B3 = 6
    B4 = 6
    B5 = 6
    C = 5
    Sem Qualis = 5

#3. EVENTOS CIENTÍFICOS  (Pontuação máxima no período = 20)																						Farmácia
#3.1.1. Resumo publicado em Anais de conferência internacional	3						0															Filosofia/Teologia
#3.1.2.  Resumo publicado em Anais de conferência nacional	2						0															Geociências
#3.1.3.  Resumo publicado em Anais de Salão de Iniciação Científica 	0.5						0															Geografia
#4. INOVAÇÃO 																						História
#4.1.  Patente  concedida	20						0															Interdisciplinar
#4.2. Patente depositada	10						0															Letras/Lingüística
#4.3. Registro de Software, cultivar (protegido ou registrado), desenho industrial, marca registrada ou topografia de CI	10						0															Matemática/Probabilidade e Estatística
#5. LIVROS com ISBN																						Materiais
#5.1.  Livro - publicado por editora com conselho editorial internacional	20						0															Medicina I
#5.2. Livro - publicado por editora com conselho editorial nacional	15						0															Medicina II
#5.3. Livro - publicado por editora com conselho editorial local	10						0															Medicina III
#5.4. Livro publicado sem conselho editorial	5						0															Medicina Veterinária
#5.5. Livro organizado	5						0															Nutrição
#5.6. Capítulos em livro - publicado por editora com corpo editorial internacional	10						0															Odontologia
#5.7. Capítulos em livro - publicado por editora com corpo editorial nacional	5						0															Planejamento Urbano e Regional/Demografia
#5.8. Capítulos em livro - publicado por editora com corpo editorial local	3						0															Psicologia
#6. TRADUÇÕES																						Química
#6.1. Tradução de livro 	10						0															Saúde Coletiva
#6.2. Tradução de artigo ou capítulo de livro 	3						0															Serviço Social
#7. PRODUÇÃO ARTISTICO-CULTURAL																						Sociologia
#7.1. PRODUÇÃO ARTISTICO-CULTURAL – filme, composição musical, direção ou produção (com registro e/ou divulgação)	10						0															Zootecnia/Recursos Pesqueiros
#7.2 . PRODUÇÃO ARTISTICO-CULTURAL –  exposição ou recital; gravação musical; atuação musical, teatral, em filme ou vídeo; projetos arquitetônicos (com registro e/ou divulgação)	5						0															Zootecnia/Recursos Pesqueiros
#8. ORIENTAÇÃO E CO-ORIENTAÇÃO
#8.1. Orientação de doutorado concluído	20						0
#8.2. Orientação de mestrado concluído	10						0															Total eventos científicos	0
#8.3. Orientação de doutorado em andamento	8						0
#8.4. Orientação de mestrado em andamento	4						0
#8.5. Co-orientação de doutorado concluído	10						0
#8.6. Co-orientação de mestrado concluído	5						0
#8.7. Co-orientação de doutorado em andamento	4						0
#8.8. Co-orientação de mestrado em andamento	2						0
#8.9.  Orientação em especialização concluida	2						0
#8.10. Orientação de TCC concluída	0.5						0
#8.11. Orientação de Iniciação Científica (máximo 4 por ano)	0.5						0
#9. PARTICIPAÇÃO EM COMISSÕES INSTITUCIONAIS
#9.1. Coordenação de Comissão Local de Pesquisa (CLP)	10						0
#9.2. Coordenação de CEP, CEUA	10						0
#9.3.  Membro do CEP, CEUA ou da CLP	5						0
#9.4. Participação em comitês institucionais da UNIPAMPA	2						0
#9.5. Participação como consultor ad hoc da UNIPAMPA	2						0
#10. PROJETOS APROVADOS POR AGÊNCIA DE FOMENTO EXTERNA (COMO COORDENADOR DO PROJETO)	20						0
#11. BOLSISTA EM PRODUTIVIDADE DO CNPq	60	Preencher apenas no último ano - se bolsista digite o valor 60
