header {
    vertical-align: middle;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-bottom: 1px solid #E1E1E1;
}

.brand {
    vertical-align: middle;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

ul.nav li {
    float: left;
    margin: 0;
}

ul.nav li a {
    display: block;
    /*color: white;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.nav li a:hover {
    background-color: #111;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

ul.sidenav li a {
    display: block;
    /*width: 60px;*/
    text-decoration: none;
}

/*li a {*/
    /*display: block;*/
    /*color: #000;*/
    /*padding: 8px 0 8px 16px;*/
/*}*/

/* Change the link color on hover */
ul.sidenav li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.small {
    font-size: xx-small;
}

img.logo {
    max-width: 24px;
}

/*footer {*/
    /*position: fixed;*/
    /*bottom: 0;*/
/*}*/

footer .container {
    background-color: #e8e8e8;
    /*color: white;*/
    padding: 2em 5em;
}

footer .row:last-child {
    margin-top: 1em;
}

footer .footer-center {
    text-align: center;
}

footer .footer-right a {
    color: #222;
    font-size: 3rem;
}
